/* Estrutura */

html {
    background-color: #c0d9fc;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
}

fieldset {
    border: 2px dashed #3d8af5;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Agrupamento de seletores */

h1,
h2,
.descricao-final {
    text-align: center;
    color: #f7fbff;
}

h1 {
    color: #f7fbff;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-family: "Fraunces", serif;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-bottom: 25px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
}

p {
    font-size: 1.2rem;
    color: #011434;
    line-height: 1.3;
    margin: 5px 0;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
}

.item-tecnologia {
    background-color: #a2c3fc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(179, 0, 80, 0.1);
    text-align: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.item-tecnologia:hover {
    opacity: 0.65;
    cursor: pointer;
    transform: scale(1.01);
}

.item-tecnologia h3 {
    color: #011434;
    font-family: "Fraunces", serif;
    font-size: 1.6rem;
    margin: 0 0 10px 0;
}


/* Pseudo-elemento antes de cada tecnologia  */

.item-tecnologia::before {
    display: block;
    font-size: 2rem;
    margin-bottom: 5px;
}

.biotech::before {
    content: "👩‍🔬";
}

.bioinfo::before {
    content: "👩‍💻";
}

.programacao::before {
    content: "🐍";
}

.bigdata::before {
    content: "📊";
}

.ia::before {
    content: "🤖";
}

.ml::before {
    content: "🎯";
}

.destaque {
    border: 3px solid #f7fbff;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
}

.detalhe-texto {
    opacity: 0.75;
    font-size: 1.1rem;
}

.descricao-final {
    margin-top: 25px;
    padding: 15px;
    background-color: rgba(1, 20, 52, 0.1);
    border-radius: 10px;
    font-family: "Fraunces", serif;
}
