html {
    background-color: #c0d9fc;
    background-image: url("img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-geral {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 100%;
}

h1 {
    color: #f7fbff;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Fraunces", serif;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
    color: #011434;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    background-color: #EF2464;
}

fieldset {
    border: 2px dashed #3d8af5;
    border-radius: 20px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

legend {
    color: #011434;
    font-family: "Fraunces", serif;
    font-weight: 700;
    padding: 0 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-tecnologia {
    background-color: #a2c3fc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(179, 0, 80, 0.1);
    text-align: center;
}

.item-tecnologia h3::before {
    margin-right: 16px;
    font-size: 1.6rem;
}

.item-tecnologia h3 {
    color: #011434;
    font-family: "Fraunces", serif;
    font-size: 1.6rem;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biotech h3::before {
    content: "👩‍🔬​";
}

.bioinfo h3::before {
    content: "👩‍💻";
}

.programacao h3::before {
    content: "🐍​";
}

.bigdata h3::before {
    content: "📊";
}

.ia h3::before {
    content: "🤖";
}

.ml h3::before {
    content: "🎯";
}

p {
    font-size: 1.2rem;
    color: #011434;
    line-height: 1.3;
    margin: 5px 0;
    text-align: center;
    font-family: "Jersey 10", sans-serif;
}

.detalhe-texto {
    opacity: 0.75;
    font-size: 1.1rem;
}

.destaque {
    border: 2px solid #c0d9fc;
}
